@charset "shift_jis";

/* Main */
#top{
	width:950px;
	margin: 0 auto;
	text-align:left;
	background-color: #FFFFFF;
}
#FloatArea{width:867px;}
#MainContentsArea{width:659px; float:left; margin:0 15px 15px 15px; _margin:0 0 15px 5px;}
#MainFormArea,#MainStaticArea{width:656px; float:left; margin:0 15px 15px 15px; _margin:0 0 15px 5px;}
#SideContentsArea{width:205px; float:right;}
#PageTop{clear:both; text-align:right; padding:7px 7px 10px 0px;}

/* Header */
#HeaderArea{width:870px; height:85px; position:relative;}
h1{position:absolute; top:24px; left:8px;}
#H1SubTitle{position:absolute; top:26px; left:11px;}
#SuperBanner{position:absolute; top:6px; right:3px;}

/* Header ST 2010.09.21 updated */
.sthd {
	background:#F5F5F5;
	padding: 2px;
}
.sthd p {float:left;}
.sthd ul {
	text-align:right;
	margin-right: 5px;
}
.sthd ul li {display:inline; border-left:1px solid #CCCCCC;padding-left:10px;margin-left:10px;}
.sthd ul li.l {float:left;border:none;padding:0;margin:0;}
.sthd ul li.bnone {border:none;padding:0;margin:0;}
#header{height:85px;margin:10px 20px 0px 20px;}
#logoTsite{float:left; width:238px; padding-top:20px;}
#headerContainer{float:right; width:450px;}
#serviceBanner{float:right;}
#serviceBanner p{margin-bottom:4px; text-align:center;}
#serviceBanner ul li{float:left;}
#serviceBanner ul li img{margin-left:10px;}
#serviceBanner ul li.firstChild img{margin-left:0px;}

/* 2011.11.22 add.FullColumn */
#MainStaticArea.FullColumn {width:656px; float:none ; margin:0 auto;}

/* Print */
#PrintWrapper{width:659px; margin: 0 auto; text-align:left;}
#PrintHeaderArea{width:659px; height:50px;}
#PrintHeaderArea img{margin-top:10px; margin-left:5px;}
#PrintContentsArea{}
#PrintCopyright{width:659px; color:#999999; font-size:10px; text-align:center;}
/* Font Size */
#FontSizeSwitchArea{position:absolute; top:82px; right:0px; width:180px; height:24px;}
#FontSizeTitle{position:absolute; top:5px; left:0px;}
#FontSizeSwitch{position:absolute; top:0px; left:60px;}
#FontSizeSwitch li{width:39px; height:24px; float:left; /* \*/overflow:hidden;/* */}
#FontSizeSwitch li a.FontBtnS{display:block; background:url(../img/fontsize_s.gif) 0px 0px no-repeat; padding-top:24px;}
#FontSizeSwitch li a.FontBtnM{display:block; background:url(../img/fontsize_m.gif) 0px 0px no-repeat; padding-top:24px;}
#FontSizeSwitch li a.FontBtnL{display:block; background:url(../img/fontsize_l.gif) 0px 0px no-repeat; padding-top:24px;}
#FontSizeSwitch li a:hover.FontBtnS{display:block; background:url(../img/fontsize_s.gif) 0px -24px no-repeat; padding-top:24px;}
#FontSizeSwitch li a:hover.FontBtnM{display:block; background:url(../img/fontsize_m.gif) 0px -24px no-repeat; padding-top:24px;}
#FontSizeSwitch li a:hover.FontBtnL{display:block; background:url(../img/fontsize_l.gif) 0px -24px no-repeat; padding-top:24px;}
#BreadCrumb{position:absolute; top:93px; left:11px;}

/* Side Menu */
/* Login 2010.09.17 updated */
#SideLoginArea{width:205px; height:185px; background:url(../img/side_bg_login.gif) no-repeat; position:relative;}
#SideLoginArea h2{position:absolute; top:9px; left:5px;}
h3#SideTNumber{position:absolute; top:42px; left:13px;}
h3#SideTPass{position:absolute; top:77px; left:13px;}
input.SideLoginNumber{width:120px; height:15px; position:absolute; top:38px; left:71px;}
input.SideLoginPass{width:120px; height:15px; position:absolute; top:73px; left:71px;}
input.SideAutoCheck{vertical-align:middle;}
input.SideLoginBtn{position:absolute; top:129px; left:14px;}
input.SideEntryBtn{position:absolute; top:153px; left:14px;}
#SideTNumberInfo{position:absolute; top:60px; right:12px; font-size:9px;}
#SideAutoLogin{position:absolute; top:95px; right:12px;}
#SidePassReminder{position:absolute; top:110px; right:12px;}
a.SideLoginArrow{background:url(../img/side_login_arrow.gif) no-repeat; vertical-align:middle; padding-left:15px;}
.SideMyPoint{font-family:Arial, Helvetica, sans-serif;}

/* Login 2010.10.19 Night Update */
#SideLoginArea.tid {height:266px;background:url(../img/side_bg_login_c2.gif) 0 0 no-repeat;}
#SideLoginArea.tid h2{position:absolute; top:12px; left:8px;}
#SideLoginArea.tid #NotLoginId {position:absolute;top:34px;left:9px;}
#SideLoginArea.tid #SideWhatTID{letter-spacing:-0.1em;font-size:10px;position:absolute;top:16px;left:115px;font-size:10px;}
#SideLoginArea.tid #SideWhatTID span{letter-spacing:0.1em;}
#SideLoginArea.tid input.SideEntryBtn {top:55px;}
#SideLoginArea.tid #MyPageLogin {position:absolute;top:95px;left:9px;}
#SideLoginArea.tid #SideTNumber2 {top:113px;}
#SideLoginArea.tid #SideTNumberInfo {line-height:1;top:130px;}
#SideLoginArea.tid #SideAutoLogin {top:165px;}
#SideLoginArea.tid #SidePassReminder {top:235px;left:17px;}
#SideLoginArea.tid input.SideLoginNumber{top:110px;left:75px;width:115px; height:15px; position:absolute;}
#SideLoginArea.tid h3#SideTPass {top:150px;}
#SideLoginArea.tid input.SideLoginPass {top:145px;left:75px;width:115px;}
#SideLoginArea.tid input.SideLoginBtn {top:185px;}
#SideLoginArea.tid .SideLoginArrow_circle {background:url(../img/side_login_arrow_circle.gif) left center no-repeat;vertical-align:middle;padding-left:10px;}
#SideLoginArea.tid .SideLoginArrow_hatena {background:url(../img/side_login_arrow_hatena.gif) left center no-repeat;vertical-align:middle;padding-left:13px;min-height:13px;height:13px !important;height:13px;}
#SideLoginArea.tid #SideMailAdNotLogin {position:absolute;top:219px;left:17px;font-size:10px;}

/* Login 2010.12.04 */
#SideLoginArea.tid.ned2 {height:210px; background:url(../img/side_bg_login_c3.gif) 0 0 no-repeat;}
#SideLoginArea.tid.ned2 .SideEntryBtn { top:65px;left:14px;position:absolute;}
#SideLoginArea.tid.ned2 #NotLoginId { top:48px;left:10px;position:absolute;}
#SideLoginArea.tid.ned2 #SideTLIDStand {top:120px;left:10px;position:absolute;}
#SideLoginArea.tid.ned2 #SideTSUser { top:137px;left:10px;position:absolute;}
#SideLoginArea.tid.ned2 #SideLoginBtn { top:157px;left:14px;position:absolute;}

/* Banner 2008.01.10 */
#SideFriendBanner{margin:0px 0px 5px 3px;}

/* Banner 2008.04.14 */
#SideTCardPlusArea2{margin:0px 0px 5px 3px;}
.imgVM{float:left; margin-right:5px;}

/* Alliance Info 2008.03.06 */
#AllianceInfo{position:absolute; top:20px; left:600px;}
#AllianceInfo h2{margin-bottom:4px;}
#AllianceInfo ul li{float:left;}
#AllianceInfo ul li img{margin-left:2px; margin-right:2px;}
.Alh3{margin-bottom:15px;}

/* My Page */
#SideMypageArea{background:url(../img/side_bg_yellow.gif) no-repeat; width:200px; margin:0px 0px 5px 3px;}
#SideMypageDetail{background:url(../img/side_bg_yellow_bottom.gif) no-repeat center bottom; padding:0px 9px 9px 10px;}
#SideMypageH2{padding-top:4px; position:relative; height:30px;}
#SideMypageH2 h2{position:absolute; top:4px; left:9px;}
#SideMyLogout{position:absolute; top:7px; right:10px; font-size:10px;}
#SideMyName{font-size:10px;}
#SideMyWhatsNew{padding:8px 0px 8px 0px; margin:3px 0px 5px 0px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
#SideMyWhatsNew ul{margin-top:5px;}
#SideMyWhatsNew ul li{color:#FF0000; font-weight:bold; line-height:130%;}
#SideMyTpoint{border-bottom:1px solid #cccccc; margin-bottom:7px;}
#SideMyTpoint p{text-align:center;}
strong.SideMyPoint{color:#003F98; font-size:25px;}
#SideMyPeriod{border-top:1px solid #cccccc; margin-top:8px;}
#SideMyPeriod p.Period1{background-color:#FFFF1A; color:#000000; padding:3px;}
#SideMyPeriod p.Period2{background-color:#1F79D2; color:#FFFFFF; padding:3px;}
#SideMyPeriod p.Period3{background-color:#FFFFFF; padding:3px;}
#SideMaintenance{margin-bottom:5px;}
/* SegmentBanner */
#SideSegmentBanner{text-align:center; margin-top:3px; margin-bottom:3px;}
/* Menu */
#SideMenuArea{background:url(../img/side_bg_gray.gif) no-repeat; margin-bottom:2px;}
#SideMenuAreaBg{background:url(../img/side_bg_gray_bottom.gif) no-repeat left bottom; padding:3px 3px 4px 4px;}
#SideTpointArea ul li{background-color:#d8d8d8; padding:5px; margin:1px 2px 1px 2px;}
#SideTCardPlusArea p{padding:10px;}
#Side61freeArea p{padding:10px 10px 0px 10px;}
a.SideLink{color:#333333; text-decoration:none;}
a:hover.SideLink{
	text-decoration:none;
}
/* Question */
#SideTcardArea{background:url(../img/side_bg_gray.gif) no-repeat;}
#SideTcardDetail{background:url(../img/side_bg_gray_bottom.gif) no-repeat left bottom; padding:4px;}
#SideTcardDetail ul li{background-color:#d8d8d8; padding:8px 5px 8px 5px; margin:1px 2px 1px 2px;}
/* Question */
#SideQuestionArea{background:url(../img/side_bg_gray.gif) no-repeat;}
#SideQuestionDetail{background:url(../img/side_bg_gray_bottom.gif) no-repeat left bottom; padding:4px 3px 4px 4px;}
#SideQuestionDetail ul li{background-color:#d8d8d8; padding:5px; margin:1px 2px 1px 2px;}
/* Mobile */
#SideMobileArea{margin:4px 2px 5px 3px;}
#SideMobileDetail{padding:9px;background:url(../img/side_bg_blue.gif) no-repeat left bottom;}
#SideMobileDetail p{color:#ffffff;}
#SideMobileDetail p img{float:left; margin-right:5px;}
/* Banner */
#SideBannerArea{margin:0px 2px 0px 3px;}
#SideBannerArea ul li{margin-bottom:5px;}


/* Footer */
#FooterArea{
	padding:5px 0px 0px 0px;
	clear: both;
	width: 950px;
}
#FooterArea .stft {text-align:center;margin-bottom:7px;}
#FooterArea .stft.btmbodr{ border-bottom:1px solid #cccccc;padding-bottom:7px;}
#FooterArea .stft li {display:inline; border-left:1px solid #CCCCCC;padding-left:10px;margin-left:10px;}
#FooterArea .stft li.first {border:none;padding:0;margin:0;}
#Copyright{color:#999999;text-align:center;}
/*#FooterIcon{width:65px; float:left; padding-bottom:15px;}
#FooterMenu{float:left; width:770px; padding-top:5px;}
#FooterMenu li{float:left; padding-right:10px;}
#Copyright{width:770px; color:#999999;}
a.footerlink{background:url(../img/footer_arrow_01.gif) left center no-repeat; padding-left:15px;}*/

/* Link */
/* 110315 リンク修正 */
a{
	color:#3366FF;
	text-decoration:none;
}
a:hover {
	color:#3366FF;
	text-decoration: underline;
}

/* 08/07/31 修正 */
h3#SideTNumber2{position:absolute; top:35px; left:13px;}
input.SideLoginNumber2{width:110px; height:18px; position:absolute; top:38px; left:81px;}
input.SideLoginPass2{width:110px; height:18px; position:absolute; top:62px; left:81px;}

/* 09/04/01 */
.kiyakuTRight{text-align:right;}

/* 09/08/17 */
body{background:url(../img/bg_body_or.gif) repeat-y center top;}
h1{
	top:8px;
	left:15px;
	position: absolute;
}
#headerAdArea{position:absolute; top:85px; left:0px; width:640px; font-size:10px;}
#headerAdArea strong{color:#FF0000;}


/* 09.08.17 -2 */
#rnTopMainUpperArea{width:654px; height:460px; background:url(../img/index/bg_flasharea.gif) no-repeat; position:relative;}
#rnTopMainFlashArea{width:355px; height:258px; position:absolute; top:18px; left:15px;}
#rnTopMainBannerArea{width:248px; height:271px; position:absolute; top:11px; right:16px;}
#rnTopMainCampArea{width:627px; height:148px; position:absolute; top:289px; left:15px; background:url(../img/index/bg_camparea.jpg) no-repeat;}
#rnTopMainCampArea h2{position:absolute; top:10px; left:34px;}
#rnTopMainCampArea h3{position:absolute; top:38px; left:34px;}
#rnTopMainCampArea table{position:absolute; top:86px; left:34px;}
#rnTopMainCampArea table td{font-size:10px; padding-right:15px; height:16px; line-height:16px;}
#rnTopMainCampArea table td a{color:#333;}

/* 09.09.16 */
#rnTopMainUpperArea{width:654px; height:305px; background:url(../img/index/bg_flasharea_s1.gif) no-repeat; position:relative;}
body{background:none #ffffff;}

/* 10.02.26 */
body{
	background-color: #FFFFFF;
}

/* 10.02.26 */
#rnSliderFlashArea{width:654px; height:485px; position:relative;}
#rnFlash100301Area1{position:absolute;left:0px;top:55px;}
#rnFlash100301Area2{position:absolute;right:0px;top:55px;}

/*Jqueryスライド用のCSSです*/
#slider{position:absolute;left:0px;top:5px;}
#slider ul, #slider li{margin:0;padding:0;list-style:none;}
#slider, #slider li{ width:650px;height:36px;overflow:hidden;text-align:left;}
#slider ul li span{margin:0 3px 0 2px;float:left;display:inline;}
#slider ul li#slide1 span{}
#slider ul li#slide3 span{margin:0 4px 0 3px;}
#slider ul li#slide4 span{margin:0 5px 0 3px;}
#slider ul li#slide5 span{margin:0 4px 0 3px;}
span#prevBtn,span#nextBtn{display:none;}
span#prevBtn a,span#nextBtn a{display:none;}
span#prevBtn a{display:none;}
span#nextBtn a{display:none;}

/* 100427 トップ、マイページFLASH */
#HeaderArea {display:none;}
#HeaderArea.st{
	display:block;
	width:950px;
	position:relative;
	background-image: url(../image/bg_gmenu.gif);
}

#rnFB2Area{width:656px;}
#rnFBtopflash{width:656px; height:267px; position:relative;}
#rnFBtopflash object{position:absolute; top:0px; left:0px; display:block;width:656px; height:262px;}
#rnFBrandambnr li{float:left; height:70px;}
#rnFBrandambnr li img{margin-left:4px; margin-right:4px;}
#rnFB2Ad{background:#f2f2f2; font-size:12px; padding:4px; text-align:center; position:absolute; width:860px; left:0px; bottom:5px;}
#rnFB2Ad li{display:inline; padding-left:15px; padding-right:15px;}
#rnFB2Ad li img{vertical-align:middle; margin-right:5px;}
#top #HeaderArea .number {
	font-size: 10px;
	color: #FF0000;
	position:absolute;
	left: 210px;
	top:14px;
	line-height: 120%;
	font-weight: bold;
	line-height:120%;
}
#top #HeaderArea .number a {
	color: #FF0000;
	text-decoration: underline;
}
/* 110315 トップ　リニューアル */
#top #content {
	float: left;
	width: 670px;
}
/* 110315 フッタースーパーバナー */
#top #FooterArea .super_bnr {
	width: 950px;
	text-align: center;
	margin-bottom: 10px;
}
/* 110315 グローバルメニュー */
#top #HeaderArea #global_menu {
	position: absolute;
	left: 447px;
	top: 17px;
	margin:0;
	padding:0;
}
#top #HeaderArea #global_menu li {
	float:left;
	height: 49px;
	width: 161px;
	margin-right:2px;
}
#top #HeaderArea #global_menu #menu1 {
	height: 49px;
	width: 161px;
	background: url(../image/menu.gif) left -49px no-repeat;
	text-indent:-9999px;
}
#top #HeaderArea #global_menu #menu1 a {
	background: url(../image/menu.gif) left top no-repeat;
	text-indent:-9999px;
	height: 49px;
	width: 161px;
	display:block;
	overflow: hidden;
    outline: none;
}
#top #HeaderArea #global_menu #menu1 a:hover {
	background: url(../image/menu.gif) left -49px no-repeat;
	text-indent:-9999px;
	height: 49px;
	width: 161px;
	display:block;
}
#top #HeaderArea #global_menu #menu2 {
	height: 49px;
	width: 161px;
	background: url(../image/menu.gif) -161px -49px no-repeat;
	text-indent:-9999px;
}
#top #HeaderArea #global_menu #menu2 a {
	background: url(../image/menu.gif) -161px top no-repeat;
	text-indent:-9999px;
	height: 49px;
	width: 161px;
	display:block;
	overflow: hidden;
    outline: none;
}
#top #HeaderArea #global_menu #menu2 a:hover{
	background: url(../image/menu.gif) -161px -49px no-repeat;
	text-indent:-9999px;
	height: 49px;
	width: 161px;
	display:block;
}
#top #HeaderArea #global_menu #menu3 {
	height: 49px;
	width: 161px;
	background: url(../image/menu.gif) -322px -49px no-repeat;
	text-indent:-9999px;
}
#top #HeaderArea #global_menu #menu3 a {
	background: url(../image/menu.gif) -322px top no-repeat;
	text-indent:-9999px;
	height: 49px;
	width: 161px;
	display:block;
	overflow: hidden;
    outline: none;
}
#top #HeaderArea #global_menu #menu3 a:hover {
	background: url(../image/menu.gif) -322px -49px no-repeat;
	text-indent:-9999px;
	height: 49px;
	width: 161px;
	display:block;
}
